<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <title>{{ pageTitle }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ baseUrl }}/web/css/main.css" type="text/css">
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <h1>{{ pageTitle }}</h1>
        </header>

        <nav class="nav">
            <ul >
                {% block navigationBar %}
                <li ><a href="#home">Home</a></li>
                <li ><a href="#news">News</a></li>
                <li ><a href="#contact">Contact</a></li>
                <li ><a href="#about">About</a></li>
                {% endblock %}
            </ul>
        </nav>

        <div id="wrapper">
            <section id="main">
                {% block mainContent %}
                {% endblock %}
            </section>
        </div>

        <footer>
            {% block footer %}
            &copy; Copyright 2014 by <a href="http://iutweb.u-clermont1.fr/">IUT Clermont</a>.
            {% endblock %}
        </footer>

    </body>
</html>












