{% extends "base.html" %}

{% block mainContent %}
        <section >
    {% for product in products %}
    <article class="productList">
        <div class="img">
            <a target="_blank" href="{{ baseUrl }}/product/{{ product.id }}">
            <h1>{{ product.name }}</h1>
                <img src="{{ baseUrl }}/web/img/product-{{ product.id }}.jpg" alt="{{ product.name }}" width="110" height="90">
            </a>

            <div class="desc"><p>{{ product.price|number_format(2, '.', '') }} €</p></div>
        </div>

    </article>
    {% endfor %}

        </section>
{% endblock %}