{% extends "base.html" %}

{% block mainContent %}
<article class="articleProduct">
    
    <div class="imgProduct">
    <h2>{{ product.name }}</h2>
        <a target="_blank" href="#">
            <h1>Vendeur(Type)</h1>
        </a>

        <img class="resize" src="{{ baseUrl }}/web/img/product-{{ product.id }}.jpg" alt="{{ product.name }}" width="550" height="450">

            <div class="desc">
                <p> Quantité : {{ product.quantity }}</p>
                <p> Prix : {{ product.price }} €</p>
                <p>Description : {{ product.description }} </p>
            </div>
    </div>
    
</article>

{% endblock %}