/*media queries*/
@media only screen and (min-width: 100px) and (max-width: 432px) {
    img {
        width:90%; /* you can use % */
        height: auto;
    }

    article {
        display: flex;
        margin: 10px;
        width: 400px;
        align-items: start;
    }

    div.img {
        border:1px solid #7A991A;
        width:430px;
        text-align:center;
    }

    div.img img {
        display:inline;
        margin:5px;
        border:1px solid #ffffff;
    }
}

@media only screen and (min-width: 433px) and (max-width: 480px) {
    img {
        width:50%; /* you can use % */
        height: auto;
    }

    article {
        display: flex;
        margin: 10px;
        width: 180px;
        align-items: start;
    }

    div.img {
        border:1px solid #7A991A;
        width:200px;
        text-align:center;
    }

    div.img img
    {
        display:inline;
        margin:5px;
        border:1px solid #ffffff;
    }

} /* Narrow */

@media only screen and (min-width: 481px) and (max-width: 960px) {

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


} /* Medium */

@media only screen and (min-width: 961px) {




} /* Wide */

section {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

article {

    display: flex;
    margin: 10px;
    align-items: start;
}

.articleProduct {
    order: 0;
    width:2000px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

article:nth-child(odd) {
    flex-direction: row;
}
article:nth-child(even) {
    flex-direction: row;
}
body{
    background-image: url("../img/imgFond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    background-attachment: fixed;
}

.wrapper {

    display: flex;
    flex-direction: column;
}

#main {
    float:left;
    width:750px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
img.resize{
    width:50%; /* you can use % */
    height: auto;
}
footer {
    clear:both;
}


a{
    color:  #FFFFFF;
}

a:hover{
    color:  #7A991A;
}
header {

    order: 0;
    display: flex;
    justify-content: space-around;

}

footer {

    order: 999;
    display: flex;
    justify-content: space-around;

}

.nav{

    order: 0;
    display: flex;
    justify-content: space-around;

}
.nav ul{
    text-align:center;
    list-style-type:none;
    margin:0 ;
    width:520px;
    padding:0;
    overflow:hidden;
}

.nav li{
    float:left;
}
.nav a{
    display:inline-block;
    padding:10px;
}
.nav a:link,.nav a:visited
{
    display:block;
    width:120px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#98bf21;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;
}

.nav a:hover,.nav a:active
{
    background-color:#7A991A;
}

div.img
{
    border:1px solid #7A991A;

    text-align:center;
}

div.imgProduct
{
    text-align:center;
}

div.img img
{
    display:inline;
    margin:5px;
    border:1px solid #ffffff;
}

div.img a:hover img
{
    border:1px solid #0000ff;
}

div.desc
{
    text-align:center;
    font-weight:normal;

}
