/*
    Created on : 16 mai 2014, 11:43:00
    Author     : Linkdelaudela
*/

#wrapper {
    width:650px;
    margin: 0 auto 0 auto;

}
/*
#wrapper>nav {
        padding:1em;
        border:1px dashed #444;
        margin-top:1em;
}*/



#main {
    float:left;
    width:750px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

footer {
    clear:both;
}

aside {
    border:1px dashed #444;
}

#sidebar {
    float:left;
    width:22%;
    margin-left:1%;
    margin-top:1em;
}

.header {
    display:block;
    width:200px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 50px;

}
.nav{

    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 50px;
    width:500px;
    padding:0;
}
.nav ul{
    text-align:center;
    list-style-type:none;
    margin:0 ;
    width:520px;
    padding:0;
    overflow:hidden;
}

.nav li{
    float:left;
}
.nav a{
    display:inline-block;
    padding:10px;
}
.nav a:link,.nav a:visited
{
    display:block;
    width:120px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#98bf21;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;
}

.nav a:hover,.nav a:active
{
    background-color:#7A991A;
}

div.img
{
    margin:5px;
    padding: 5px;
    border:1px solid #0000ff;
    height:auto;
    width:auto;
    float:left;
    text-align:center;
}

div.img img
{
    display:inline;
    margin:5px;
    border:1px solid #ffffff;
}

div.img a:hover img
{
    border:1px solid #0000ff;
}

div.desc
{
    text-align:center;
    font-weight:normal;
    width:120px;
    margin:5px;
}